{% form 'customer', class: 'footer_newsletter' %}
    

    <div class="form_newsletter-wrap u-hflex-left-top u-hflex-nowrap"><input type="text" placeholder="Your e-mail" name="contact[email]" id="newsletter" class="form_input is--newsletter">
    <div class="form_newsletter-submit"><button type="submit">
        <div class="form_newsletter-button-text u-h2 u-primary-medium">ok</div>
      </button></div>
  </div>


{% if form.posted_successfully? %}
    <div class="newsletter_success margin-top margin-xsmall">
      <div class="u-text-small">You have been subscribed!</div>
    </div>
  {% endif %}

{{ form.errors | default_errors }}

{% endform %}

