{% form 'customer', id: 'contact_form' %}


<div class="form_newsletter-wrap u-vflex-left-top u-gap-xsmall"><label class="u-allcaps"
        for="newsletter">Sign up to stay up-to-date</label><input class="form_input" type="text" placeholder="Email"
        name="contact[email]" id="newsletter">
    <div class="form_newsletter-submit"><button type="submit">
            <div class="letter-spacing-005 u-primary-medium u-allcaps">Submit</div>
        </button></div>
</div>

{% if form.posted_successfully? %}
<div class="newsletter_success margin-top margin-xsmall">
    <div class="u-text-small">You have been subscribed!</div>
</div>
{{ form.errors | default_errors }}
  
{% endif %}
{% endform %}


