<script src="{{ 'amenities.js' | asset_url }}" defer="defer"></script>



<section data-theme="inherit" class="section_amenities">
        <div class="padding-global padding-section-small">
          <div class="amenities_comp">
            <h2 split-heading class="u-h1">{{ section.settings.title }}</h2>
            <div class="amenities_grid">
              {% for amenity in section.blocks %}
                <div fade-up class="amenities_item u-vflex-left-top u-gap-small">
                    <div class="u-h3">{{ amenity.settings.title }}</div>
                    <p class="max-width-medium">{{ amenity.settings.description }}</p>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </section>


      {% schema %}
      {
        "name": "Amenities",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Title",
                "default": "Reform room <br> Amenities"
            }
            ],
            "blocks": [{
                "type": "amenity",
                "name": "Amenity",
                "settings": [
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Title",
                        "default": "Spacious locker rooms"
                    },
                    {
                        "type": "textarea",
                        "id": "description",
                        "label": "Description",
                        "default": "Secure lockers available for storing your personal belongings during your workout."
                    }
                ]
            }]
      }
      {% endschema %}