<section data-theme="inherit" class="section_collection-intro">
        <div class="padding-global padding-section-large">
          <div class="packages_comp u-vflex-center-center u-gap-medium">
            <h1 split-heading class="u-text-align-center u-h1">{{ section.settings.title }}</h1>
            <p fade-up class="max-width-xlarge u-text-align-center">{{ section.settings.description }}</p>
          </div>
        </div>
      </section>

    {% schema %}
    {
        "name": "Collection hero",
        "settings": [
            {
                "type": "text",
                "default": "Shop our products",
                "id": "title",
                "label": "Title"
            }, 
            {
                "type": "textarea",
                "default": "At purus blandit cursus morbi diam facilisi tristique. Venenatis iaculis cursus quis nunc iaculis tristique sed.",
                "id": "description",
                "label": "Description"
            }
            ]
    }
    {% endschema %}