<section class="section_class-intro">
        <div class="padding-global padding-section-large">
          <div class="packages_comp u-vflex-center-center u-gap-medium">
            <h1 class="u-text-color-orange u-text-align-center">{{ section.settings.title }}</h1>
            <p class="max-width-xlarge u-text-align-center">{{ section.settings.content }}</p>
            {% if section.settings.button_text %}
                <div class="packages_mobile-button u-hflex-center-center">
              <a href="{{ section.settings.button_url }}">
                <div class="u-allcaps u-primary-medium">{{ section.settings.button_text }}</div>
                <div class="button-link_underscore"></div>
              </a>
            </div>
            {% endif %}
          </div>
        </div>
      </section>


      {% schema %}
      {
        "name": "Hero",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Title"
            },
            {
                "type": "textarea",
                "id": "content",
                "label": "Content"
            },
            {
                "type": "text",
                "id": "button_text",
                "label": "Mobile button text",
                "default": "Shop now"
            },
            {
                "type": "url",
                "id": "button_url",
                "label": "Mobile button link"
            }
            ]
      }
      {% endschema %}