<section  data-theme="inherit" class="section_collection">
        <div class="padding-global padding-section-small">
          <div class="collection_grid u-grid-12-col">

          {% for product in collection.products %}
             <div fade-up class="collection_product">
              {% render 'product-card', product: product %}
            </div>
          {% endfor %}
            
          </div>
        </div>
      </section>