<section class="section_wishlist">
      <div class="padding-global padding-section-small">
        <div class="container-large u-vflex-stretch-top u-gap-large">
          <h1>Your wishlist</h1>
          <ul id="wishlistGrid" role="list" class="u-grid-12-col w-list-unstyled">
            <li class="wishlist_item">
              
            </li>
          </ul>
        </div>
      </div>
    </section>

{% schema %}
  {
    "templates": ["page"]
  }
{% endschema %}