<script src="{{ 'default-page.js' | asset_url }}" defer="defer"></script>



<section data-theme="inherit" class="section_faq">
        <div class="padding-global padding-section-huge">
          <div fade-up  class="contact_comp u-vflex-center-center u-gap-medium">
            <h1 class="u-h1 u-text-align-center">{{ page.title }}</h1>
            <div id="default-content" class="max-width-large u-text-align-center">{{ page.content }}</div>
          </div>
        </div>
      </section>