<script src="{{ 'soon.js' | asset_url }}" defer="defer"></script>

<div class="preloader"></div>

<section data-theme="inherit" class="section_soon">
        <div class="padding-global">
          <div class="container-large">
            <div class="soon_comp u-vflex-stretch-between">
              <div class="soon_logo u-vflex-left-top u-gap-small"><img src="{{ 'Reform-reform.svg' | asset_url }}" loading="eager" alt="" class="soon_logo-1"><img src="{{ 'Reform-room.svg' | asset_url }}" loading="eager" alt="" class="soon_logo-2"></div>
              <div class="soon_bottom u-vflex-stretch-top u-gap-xsmall">
                <div class="soon_content u-hflex-between-bottom u-gap-small">
                  <div class="soon_text-wrap u-vflex-left-top u-gap-small">
                    <div class="u-allcaps">Coming soon...</div>
                    <p class="max-width-medium u-text-small">A modern reformer pilates boutique studio in Laren, North-Holland. We offer high-quality reformer pilates lessons for all levels.</p>
                  </div>
                  <div class="soon_email">
                    {% render 'newsletter-form' %}
                  </div>
                </div>
                <div class="soon_image"><img src="{{ 'pilatus.jpg' |  asset_img_url: "master" }}" loading="eager" alt=""></div>
              </div>
            </div>
          </div>
        </div>
      </section>

